# -----------------------------------------------------------------------------
# App - Don't add "/" in the end of the url
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=https://development.yourdomain.com

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Database (PostgreSQL)
# -----------------------------------------------------------------------------
DATABASE_URL='postgres://[user]:[password]@[dev_hostname]/[dbname]?sslmode=require'

# -----------------------------------------------------------------------------
# Email (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=
